<div class="panel panel-success">
    <div class="panel-heading">
        Работа с $q
    </div>
    <div class="panel-body">
        <div class="alert alert-success">Промис сработает при нажатии button 11, а button 12 отменит выполнение</div>
        <div class="btn-group" role="group" aria-label="Sample1">
            <button type="button" class="btn btn-default" ng-click="button11click()">Кнопка 11</button>
            <button type="button" class="btn btn-default" ng-click="button12click()">Кнопка 12</button>
            <button type="button" class="btn btn-default" ng-click="button13click()">Кнопка 13</button>
        </div>
        <div class="alert alert-success">Промис сработает при нажатии button 21</div>
        <div class="btn-group" role="group" aria-label="Sample1">
            <button type="button" class="btn btn-default" ng-click="button21click()">Кнопка 21</button>
        </div>
    </div>
</div>
