<div>
    <div class="row">
        <form name="city" class="form-inline">
            <div class="form-group">
                <input type="text" ng-model="cityName" class="form-control">
                <button ng-click="locate()" class="btn">Найти город</button>
            </div>
        </form>
    </div>
    <div class="row" ng-repeat="city in cities">
        <div class="col-md-2">{{city.name}} <span ng-show="!city.coords.$dirty">({{city.coords.lon}}, {{city.coords.lat}})</span> <button class="btn" ng-click="show('ymap', city)">Показать на карте</button></div>
    </div>
    <div class="row">
        <ymap id="ymap" style="height: 350px; display: block;"></ymap>
    </div>
</div>