<!DOCTYPE html>
{% include fill_categories.html %}
<html lang="{{ site.lang | default: 'en-US' }}">
{% include head.html %}
<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="{{ site.baseurl }}/assets/images/common/logo.png" width="30" height="30" alt="logo">
            Чтобы не забыть
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-list"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-list">
            <ul class="navbar-nav">
                <li class="nav-item">
                    sdsdsd<a class="nav-link" href="{{ site.baseurl }}/"> На главную </a>
                </li>
                {% for category in categories %}
                <li class="nav-item">
                    <a class="nav-link" href="/category#{{ category | slugify }}"> {{ category }} </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>

<div id="content" class="container-fluid">
    {{ content }}
</div>
{% include footer.html %}
{% include ya_metrika.html %}
</body>
</html>
