---
layout: default
---
<div>
    <h1>{{ page.title }}</h1>
    {% if page.tags != empty %}
    <ul class="list-group list-group-horizontal">
        {% for tag in page.tags %}
        <li class="list-group-item"><a class="tag" href="/tag#{{ tag | slugify }}"> {{ tag }} </a></li>
        {% endfor %}
    </ul>
    {% endif %}
    <div>
        {{ content }}
    </div>

    {% if page.categories != empty %}
    <p>
        Категории:
        {% for category in page.categories %}
        <a href="/category#{{ category | slugify }}"> {{ category }} </a>
        {% endfor %}
    </p>
    {% endif %}
</div>
